*{
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

body{
    background-color: powderblue;
    font-size: 17px;
    color: black;
    font-family: sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: deepskyblue;
    color: rgb(13, 100, 182);
    height: 8em;
}

header h1{
    padding: 2em;
    text-align: center;
    color: rgb(242, 242, 242);
    background-color: rgb(5, 59, 81);
    width: 100%;
}

img{
    max-width: 100%;
    height: auto;
}

main{
    background-color: powderblue;
    color: rgb(0, 38, 255);
    flex: 1;
}

h2, h3{
    padding: 5px;
}

section{
    margin: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

section > div {
    flex: 1;
    margin: 2%;
}
