*{
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

body{
    background-color: powderblue;
    font-size: 17px;
    color: black;
    font-family: sans-serif;
    line-height: 2.0px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: deepskyblue;
    color: rgb(13, 100, 182);
    height: 8em;
}

header h1{
    padding: 2em;
    text-align: center;
    color: rgb(242, 242, 242);
    background-color: rgb(5, 59, 81);
    width: 100%;
}

img{
    max-width: 100%;
    height: auto;
}

main{
    background-color: powderblue;
    color: rgb(0, 38, 255);
    flex: 1;
}

h2, h3{
    padding: 10px;
}

section{
    margin: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

section > div {
    flex: 1;
    margin: 2%;
}

li a {
    color: white;
    text-decoration: none;
    text-align: center;
}

a:hover{
    color: yellow;
}

a:visited {
    color: lightblue;
}

footer {
    margin-top: auto;
    text-align: center;
    width: 100%;
    background-color: rgb(2, 153, 253);
}

@media (max-width: 480px) {
    section {
        flex-direction:column;
        margin: 3%;
        gap: 20px;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    section{
        margin: 3%;
        gap: 5%;
    }
}

@media (min-width: 1025px) {
    section {
        margin: 0 5%;
    }
}