*{

}

body{
    background-color: powderblue;
    font-size: 16px;
    color: black;
    font-family: sans-serif;
}

header{
    background-color: deepskyblue;
    height: 4em;
}

header h1{
    text-align: center;
}

img{
    width: 50%;
    border-radius: 18px;
}

main{
    
}